{% extends "mainTemplate.html" %}

{% block title %}
    بازیابی رمز عبور
{% endblock title %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        {%  if IsSuccess  %}
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی کلمه عبور با موفقیت ارسال شد</p>
            </div>
        {% endif %}
        <header><h2> بازیابی رمز عبور </h2></header>

        <div class="form-layer">

            <form action="{% url 'accounts:ForgotPassword' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    {{ form.email }}
                </div>
                {{ form.errors.email }}

                <input type="submit" class="btn btn-success" value="تایید و ارسال" />

            </form>
        </div>

    </div>
</main>
{% endblock  %}

