{% extends "mainTemplate.html" %}

{% block title %}
    بازیابی رمز عبور
{% endblock title %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
                <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
            </ul>
        </nav>
    </div>

    <main class="client-page">
        <div class="container-content">
            {% if IsSuccess %}
            {
            <div class="alert alert-success">
                <p class="help-block">رمز شما با موفقیت تغییر کرد:)</p>
            </div>
            <script>
                var delay = 2000;
                setTimeout(function () {
                    window.location = "/";
                }, delay);
            </Script>
            {% endif %}
            <header><h2> ورود به سایت </h2></header>

            <div class="form-layer">

                <form action="{% url 'accounts:ResetPassword' activecode=form.active_code %}" method="post">
                    {% csrf_token %}
                    {{ form.active_code }}
                    <div class="input-group">
                        <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                        {{ form.password }}
                    </div>
                    {{ form.errors.password }}

                    <div class="input-group">
                        <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                        {{ form.rePassword }}
                    </div>
                    {{ form.errors.rePassword }}

                    <input type="submit" class="btn btn-success" value="تغییر رمز عبور"/>

                </form>
            </div>

        </div>
    </main>
{% endblock %}

