{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}|تاپ لرن</title>
    {% include 'Partials/meta_tags.html' %}
    {% include 'Partials/styles.html' %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
<script src="{% static 'js/modernizr-custom.js' %}"></script>

<div class="landing-layer">
    <div class="container">
        <nav>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <ul>
                        <li>
                            <a href=""> همکاری در فروش </a>
                            <a href=""> درباره ما </a>
                            <a href=""> تماس با ما </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="clientarea">
                        {% if user.is_authenticated %}
                        <div class="loggein ">
                            <i class="zmdi zmdi-account"></i><a href="{% url 'userpanel:UserPanelInformation' %}"> {{ user.username }}  خوش آمدی </a>/
                            <a href="{% url 'accounts:Logout'%}"> خروج </a>
                        </div>
                        {% else %}
                        <div class="signin">
                            <i class="zmdi zmdi-account"></i>
                            <a href="{% url 'accounts:Login' %}"> ورود </a> /
                            <a href="{% url 'accounts:Register' %}"> عضویت </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {% block search_box %}
        {% endblock search_box %}
    </div>
</div>

<!-- main manu -->
{% render_partial 'course:CourseGroupMenu' %}
<!-- /main manu -->
{% include "Partials/messages.html" %}
<!-- content -->
{% block content %}
{% endblock content %}
<!-- /content -->

<!-- footer -->
{% include 'Partials/footer.html' %}
<!-- /footer -->

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.unobtrusive.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
