{% extends "mainTemplate.html" %}
{% load render_partial %}
{% load cache %}
{% block title %}
    خانه
{% endblock title %}

{% block search_box %}
    <header>
        <a href="" class="logo"><img src="{{ media_url }}/images/logo.png"></a>
        <h1> با اساتید مجرب و کارآزموده در خودآموز تاپ لرن </h1>
        <h2> آموزش ببینید ، تجربه کسب کنید و بازار کار شوید </h2>
        <h3> با کمترین هزینه خودت یاد بگیر </h3>
    </header>
    <div class="search-form">
        <form>
            <input type="text" name="filter" id="auto_filter" placeholder="چی دوست داری یاد بگیری ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
{% endblock %}


{% block content %}
    <main id="home-page">
        <div class="container">
            <section class="terms-items">
                <header>
                    <h2> آخرین دوره های تاپ لرن </h2>
                    <a href="{% url 'course:Courses' %}"> مشاهده همه دوره ها </a>
                </header>
                {% cache 300 latest_courses %}
                    {% render_partial 'home:LatestCourses' %}
                {% endcache %}
            </section>

            <hr>
            <section class="terms-items">
                <header>
                    <h2> دوره های محبوب تاپ لرن </h2>
                    <a href=""> مشاهده همه دوره ها </a>
                </header>
                {% cache 300 popular_courses %}
                    {% render_partial 'home:PopularCourses' %}
                {% endcache %}
            </section>
        </div>
    </main>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#auto_filter").autocomplete({
                source: "/search_complete",
            });
        });
    </script>
{% endblock %}