@font-face {
    font-family: 'estedad-300';
    src: url('../../fonts/estedad-300.eot?#') format('eot'),
        url('../../fonts/estedad-300.ttf') format('truetype'),
        url('../../fonts/estedad-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: estedad-300 !important;
}