{% extends "mainTemplate.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ course.courseTitle }}
{% endblock title %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"> تاپ لرن </a></li>
                <li class="breadcrumb-item active"><a href="#"> دوره ها </a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ course.courseTitle }} </li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <section class="term-content">
            <header><h1> {{ course.courseTitle }} </h1></header>
            <div class="row">

                <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                    <section class="term-description">
                        <img src="{{ media_url }}{{ course.courseImageName }}">

                        {% autoescape off %}
                            {{ course.description }}
                        {% endautoescape %}

                        <h2> سرفصل های این دوره : </h2>
                        <ul>
                            {% for episode in course.episodes.all %}
                                <li>
                                <h3> {{ episode.episodeTitle }} </h3>
                                    {% if episode.is_free %}
                                    <i> رایگان </i>
                                    {% else %}
                                    <i> نقدی</i>
                                    {% endif %}
                                    <span>{{ episode.episodeTime }} </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section class="user-comments">
                        <header><h3> نظرات کاربران </h3></header>
                        <div class="inner">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="نام و نام خانوادگی">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="ایمیل">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="شماره تماس">
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="متن نظر"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-7 col-xs-7">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="کد امنیتی">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-5 col-xs-5">
                                                <img src="images/captcha.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-success"> ثبت دیدگاه</button>
                                    </div>
                                </div>
                            </form>

                            <div class="comment-list">
                                <!-- row -->
                                <div class="comment-row">
                                    <img src="images/pic/avatar.jpg">
                                    <div class="left-col">
                                        <h3> میترا رحیمی </h3>
                                        <span>12/03/1397</span>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است
                                        </p>
                                    </div>
                                </div>
                                <!-- /row -->
                                <!-- row -->
                                <div class="comment-row">
                                    <img src="images/pic/avatar.jpg">
                                    <div class="left-col">
                                        <h3> میترا رحیمی </h3>
                                        <span>12/03/1397</span>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است
                                        </p>
                                    </div>
                                </div>
                                <!-- /row -->
                                <!-- row -->
                                <div class="comment-row">
                                    <img src="images/pic/avatar.jpg">
                                    <div class="left-col">
                                        <h3> میترا رحیمی </h3>
                                        <span>12/03/1397</span>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است
                                        </p>
                                    </div>
                                </div>
                                <!-- /row -->
                                <!-- row -->
                                <div class="comment-row">
                                    <img src="images/pic/avatar.jpg">
                                    <div class="left-col">
                                        <h3> میترا رحیمی </h3>
                                        <span>12/03/1397</span>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است
                                        </p>
                                    </div>
                                </div>
                                <!-- /row -->
                                <!-- row -->
                                <div class="comment-row">
                                    <img src="images/pic/avatar.jpg">
                                    <div class="left-col">
                                        <h3> میترا رحیمی </h3>
                                        <span>12/03/1397</span>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است
                                        </p>
                                    </div>
                                </div>
                                <!-- /row -->

                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true"><i class="zmdi zmdi-chevron-right"></i></span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i class="zmdi zmdi-chevron-left"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </section>
                </div>

                <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div class="statistics">
                        <ul>
                            <li>
                                <span> مدت دوره </span>
                                <i> {{ course.total_time }} </i>
                            </li>
                            <li>
                                <span> تعداد ویدیوها </span>
                                <i>{{ course.episodes.count }}</i>
                            </li>
                            <li>
                                <span> تعداد دانشجوها </span>
                                <i> 52 نفر </i>
                            </li>
                        </ul>
                        {% if course.price != 0 %}
                        <a href="{% url 'course:BuyCourses' course_id=course.id %}"> شرکت در دوره :
                            {{ course.price | intcomma }} تومان </a>
                        {% endif %}
                    </div>

                    <article class="teacher-info">
                        <img src="{{ media_url }}{{ course.teacher.image_name }}">
                        <h2> مدرس : {{ course.teacher.username }} </h2>
                    </article>

                    <article class="term-info">
                        <h2> اطلاعات این دوره </h2>
                        <ul>
                            <li>سطح دوره:{{ course.courseLevel.levelTitle }}</li>
                            <li>وضعیت دوره:{{ course.courseStatus.statusTitle }}</li>
                            {% if course.price != 0 %}
                            <li>قیمت : {{ course.price | intcomma }} تومان</li>
                            {% else %}
                                <li>قیمت : رایگان</li>
                            {% endif %}
                            <li>تاریخ ثبت این دوره : {{ course.get_createDate_shamsi }}</li>
                            <li>آخرین بروزرسانی دوره : {{ course.get_updateDate_shamsi }}</li>
                        </ul>
                    </article>

                    <div class="share-layer">
                        <span> به اشتراک گذاری </span>
                        <a href=""><i class="zmdi zmdi-facebook"></i></a>
                        <a href=""><i class="zmdi zmdi-google-old"></i></a>
                        <a href=""><i class="zmdi zmdi-twitter"></i></a>
                        <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                    <div class="tags-layer">
                        {% for tag in tags %}
                            <a href="/course/course_list?filter={{ tag }}"> {{ tag }} </a>
                        {% endfor %}

                    </div>
                </aside>
            </div>
        </section>
    </div>
{% endblock %}
